/node_modules
/public/hot
/public/storage
/public/svgs/*
/storage/*.key
/storage/app/public/*.pdf
/storage/app/public/*/*.pdf
/storage/app/public/*/*/*.pdf
/storage/app/public/*/docs/*.pdf
/storage/app/public/*/revisions/*.pdf
/storage/app/public/sigs/*.pdf

/storage/app/public/*.jpg
/storage/app/public/*/*.jpg
/storage/app/public/*/*/*.jpg
/storage/app/public/*/docs/*.jpg
/storage/app/public/sigs/*.jpg

/storage/app/public/*.png
/storage/app/public/*/*.png
/storage/app/public/*/*/*.png
/storage/app/public/*/docs/*.png
/storage/app/public/sigs/*.png

/storage/app/public/*.JPG
/storage/app/public/*/*.JPG
/storage/app/public/*/*/*.JPG
/storage/app/public/*/docs/*.JPG
/storage/app/public/sigs/*.JPG

/storage/app/public/*.docx
/storage/app/public/*/*.docx
/storage/app/public/*/*/*.docx
/storage/app/public/*/docs/*.docx
/storage/app/public/sigs/*.docx

/storage/app/public/*.doc
/storage/app/public/*/*.doc
/storage/app/public/*/*/*.doc
/storage/app/public/*/docs/*.doc
/storage/app/public/sigs/*.doc

/storage/app/public/*.xlsx
/storage/app/public/*/*.xlsx
/storage/app/public/*/*/*.xlsx
/storage/app/public/*/docs/*.xlsx
/storage/app/public/sigs/*.xlsx

/storage/app/public/*.xls
/storage/app/public/*/*.xls
/storage/app/public/*/*/*.xls
/storage/app/public/*/docs/*.xls
/storage/app/public/sigs/*.xls

/storage/app/public/*.pptx
/storage/app/public/*/*.pptx
/storage/app/public/*/*/*.pptx
/storage/app/public/*/docs/*.pptx
/storage/app/public/sigs/*.pptx

/storage/app/public/*.ppt
/storage/app/public/*/*.ppt
/storage/app/public/*/*/*.ppt
/storage/app/public/*/docs/*.ppt
/storage/app/public/sigs/*.ppt

/storage/app/public/sigs
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/qmis.sql
update_qmis.sh
.htaccess
composer.json
/config/snappy.php
